body {
  line-height: 2em;
  font-size: 10pt;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 12pt;
}

.header-nav {
  letter-spacing: 0.1em;
}

.profile-pic {
  margin-top: 60px;
  width: 200px;
}

.about-me {
  display: flex;
  flex-direction: column;
}

.skill-img {
  max-width: 100px;
  max-height: 80px;
}

.skill-item {
  height: 150px;
  width: 150px;;
}

.projects-img {
  max-width: 200px;
  max-height: 200px;
}

.projects-container {
  padding: 3%;
}

.social-media {
  padding: 1% 25%;
}

.sm-icon {
  height: 25px;
}