body {
  margin: 0;
}

a {
  color: black;
  opacity: 100%;
  text-decoration: none;
}

a:hover {
  opacity: 50%;
}

.header-styling {
  background-color: lightblue;
  height: 50px;
  position: top fixed;
}

.nav-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  letter-spacing: 0.2em;
  padding-right: 10%;
  padding-top: 1%;
  text-transform: uppercase;
}

.profile-pic {
  border-radius: 50%;
  width: 250px;
}