a {
  color: black;
  opacity: 100%;
  text-decoration: none;
}

a:hover {
  opacity: 50%;
}

body {
  margin: 0;
  background-color: #E8E8E6;
  font-family: Quattrocento Sans;
  line-height: 2.5em;
  color: black;
}

h1 {
  font-size: 7.5em;
  font-family: Playfair Display;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-align: center;
  color: #5D7486;
}

h2 {
  font-size: 4em;
  font-family: Playfair Display;
  letter-spacing: 0.1em;
}

h3 {
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  word-spacing: 0.1em;
}

p {
  font-size: 1.5em;
}

.header-nav {
  background-color: #DAC4AF;
  display: flex;
  justify-content: flex-end;
  height: 5vh;
  letter-spacing: 0.2em;
  padding-right: 10%;
  padding-top: 1%;
  position: top fixed;
  text-transform: uppercase;
}

.hero {
  align-items: center;
  background-color: #DAC4AF;
  display: flex;
  height: 95vh;
  justify-content: center;
}

.profile-pic {
  border-radius: 50%;
  width: 300px;
}

.about-me {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5%;
}

.div-picprofile, .div-profile {
  margin-left: 10%;
}

.div-profile {
  margin-right: 13%;
}

.skills-title {
  display: flex;
  justify-content: flex-end;
  padding-right: 15%;
}

.skills-container {
  align-content: space-around;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5%;
}

.skill-item {
  height: 250px;
  width: 250px;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1%;
}

.skill-item p {
  text-align: center;
}

.projects-title {
  display: flex;
  justify-content: flex-start;
  padding-left: 15%;
}

.projects-container {
  align-content: space-around;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5%;
}

.projects-item {
  background-color: #5D7486;
  height: 250px;
  width: 250px;
  margin: 3%;
}

.contact-title {
  display: flex;
  justify-content: center;
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
}

.sm-icon {
  height: 50px;
  border-radius: 50%;
}

.skill-img {
  max-width: 150px;
  max-height: 100px;
}
